.app {
  min-height: 100vh;
  background: rgb(92, 184, 214);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.tweet {
  height: 150px;
  width: 125px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}